<head>
    <style>
        #div1 { height: 200px; width: 300px; margin: 200px auto;}
    </style>
</head>

{% block content %}
{%error%}
{% if message %}
<p class="error">Sorry, that's not a valid username or password</p>
{% endif %}
<div id="div1">
<form action="" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" value="" id="username">
<br>
<br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="" id="password">
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
</form>
</div>
{% endblock %}
